<h1> New Relationships</h1>
<%= form_for @relationship do |f| %>
<p>
  <%= f.label :follower_id %> <br>
  <%= f.text_field :follower_id %>
</p>
<p>
  <%= f.label :followed_id %> <br>
  <%= f.text_field :followed_id %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
<%= link_to 'Back', tweets_path %>