<p>
Tweet: <%= @tweet.content %>
</p>
<% if current_user.id != user.id %> %>
  <% if current_user.following?(@user) %>
  <%= link_to 'unfollow', relationship_path(user_id: @user.id), method: :delete %>
<% else %>
  <%= link_to 'follow', root_path(user_id: @user.id) %>
  <% end %>
<% end %>
<%= link_to 'Back', tweets_path %>
<%= link_to 'Edit', edit_tweet_path %>
