<!DOCTYPE html>
<html>
  <head>
    <title>Twitterapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="control">
      <%= link_to 'New Tweet', new_tweet_path, class: "button is-info is-inverted"%>
    </p>
    <p class="control">sign up</p>
    <%= yield %>
  </body>
</html>
